---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola! Somos IGG 
        <Badge>Disponibles para contacto</Badge>
     
      </h1>

      <h2>
        Con +5 anos de experiencia. Brindando soluciones a problemas complejos
        mediantes las Tecnologias
      </h2>
    </section>
  </main>
</Layout>
