---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import Mail from "../components/Icons/Mail.astro";
import Youtube from "../components/Icons/Youtube.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Maleta from "../components/Icons/Maleta.astro"
---

<Layout title="Bienvenido a IGG">
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/43449665?v=4"
        alt="Logo Empresa"
      />

      <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola! Somos IGG
        <div class="flex justify-center items-center">
          <Badge>Disponibles para contacto</Badge>
        </div>
      </h1>

      <h2 class="text-2xl text-wrap text-justify">
        <span>Con m치s de cinco a침os de experiencia en el sector</span>, nos
        especializamos en proporcionar soluciones innovadoras y efectivas a
        problemas complejos utilizando las m치s avanzadas tecnolog칤as. <span
          class="text-blue-400/90"
          >Somos un grupo de ingenieros chilenos 游뻟릖</span
        > comprometidos con la excelencia y dedicados a superar los desaf칤os de nuestros
        clientes mediante el uso de herramientas y metodolog칤as de 칰ltima generaci칩n.
        Nuestra pasi칩n por la ingenier칤a y el compromiso con la calidad nos ha permitido
        destacarnos en el mercado, ofreciendo un servicio integral y personalizado
        que se adapta a las necesidades espec칤ficas de cada proyecto.
      </h2>
      <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://linkedin.com/in/midudev">
          <LinkedIn class="size-4" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://linkedin.com/in/midudev">
          <Mail class="size-4" />
          Email
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/midudev">
          <Youtube class="size-4" />
          YouTube
        </SocialPill>
      </nav>
    </SectionContainer>
  </main>

  <SectionContainer>
    <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
      <Maleta class="size-8" />
      Experience</h2>
   
   
    <Experience/>
  </SectionContainer>
</Layout>
