---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "CEO of NggStore",
    company: "NGG Store",
    description:
      "Una de las mejores tiendas de tecnologia a nivel Nacional.",
    link: "https://www.google.cl",
  },
  {
    date: "Septiembre 2022",
    title: "Principal Frontend Engineer",
    company: "Adevinta Spain",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>